.clock-container div {
  color: #EC4C47;
  font-size: 4rem;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-shadow: -1px 1px 0 #aaa;
}

.clock-container .quarter-year {
  font-style: italic;
  font-size: 2rem;
}

